#Newbie {
    background-color: #77737a;
}

#Apprentice {
    background-color: #7fe688;
}

#Master {
    background-color:rgb(230, 145, 34);
    box-sizing: border-box;
    border: solid blue;
}

.left {
    float: left;
    background: pink;
    border: solid black;
}

.roundCorner {
    border: solid black;
    border-radius: 10px;
}